.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginform{
    width: 300px;
    row-gap: 18px;
    display:flex;
    background-color: #f8f5f5;
    flex-direction: column;
    box-shadow: 1px 2px 3px #3f3f3f;
    border-radius: 3px;
}
.loginform p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
input{
    width: 180px;
    height: 35px;
    border-left: none !important;
    outline: none;
    border-radius: 0px 3px 3px 0px;
    border:0.5px solid #bbbbbb;
}
button{
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #bbbbbb;
}
.details{
    display: flex;
    justify-content: center;
    
}
input[type="submit"]{
    width: 208px;
    margin: auto;
    height: 38px;
    color: #fff;
    border: none;
    background-color: #1a73e8;
}
.formbottom{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
   
    
}
.formbottom input[type="checkbox"]{
    width: 12px;
    height: 12px;
    margin: auto;
}
a{
    text-decoration: none;
    color: rgb(46, 139, 175)
}
span{
    font-size: 15px;
}
.check{
    
    margin-left: 25px;
}